.textareaInput {
    label {
        display: block;
        margin-bottom: 5px;
    }

    textarea {
        width: 100%;
        padding: 14px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: none;
        font-family: "Poppins", sans-serif;
        &:disabled {
            padding: 0;
            border: none;
            background-color: transparent;
        }
    }
}
