.datalistInput {
    margin-bottom: 15px;

    label {
        display: block;
        margin-bottom: 5px;
        font-size: 16px;
    }

    input {
        width: 100%;
        padding: 10px 15px;
        display: inline-block;
        border: 1px solid #ccc;
        font-size: 14px;
        border-radius: 3px;
        font-family: "Poppins", sans-serif;

        &.editInput {
            border: none;
            padding: 0;
        }

        &:disabled {
            background-color: transparent;
        }
    }

    input[type="date"] {
        max-width: 200px;
    }

    small {
        display: block;
        color: red;
        font-weight: 300;
    }
    .requiredStar {
        color: red;
    }

    option {
        background-color: red;
    }
}
