.navbar {
    background-color: #e8e8e8;
    border-bottom: 1px solid #858585;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .left-side {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .icon {
        cursor: pointer;
    }
}