.sidebar {
    grid-area: sidebar;

    &.hideSidebar {
        display: none;
    }

    
    .sidebarHeader {
        height: 60px;
        display:flex;
        align-items: center;
        padding-left: 10px;
        display: none;
    }


    .sidebarItemsWrapper {
        height: calc(100vh - 102px);
        overflow-x: hidden;
        overflow-y: auto;
        background-color: gray;
        padding: 20px 0;
    }


    .sidebarSection {
        // margin-top: 10px;
        margin-bottom: 10px;
    }

    .sidebarTitle {
        color: white;
        font-size: 18px;
        padding: 10px;
    }

    .sidebarLink {
        color: white;
        display: block;
        padding: 10px;
        &:hover {
            background-color: lightgray;
            color: black;
        }
    }
}
