.mainWrapper {
    position: relative;
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-areas:
        "header header"
        "sidebar main";
    overflow-x: hidden;
    margin-top: 60px;

    &.hideSidebar {
        grid-template-areas:
            "header header"
            "main main";
    }

    .mainContainer {
        grid-area: main;
        padding: 20px;
    }

    @media (max-width: 820px) {
        grid-template-areas:
            "header header"
            "main main";

        .mainContainer {
            padding: 10px;
        }
    }
}
